<ng-container *ngIf="isLoaded && demandes.length == 0">
  <div class="row" >
  <div class="col-12">
    Vous n'avez aucune demande prête.
  </div>
</div>
</ng-container>
<ng-container *ngIf="isError">
  <div class="row">
  <div class="col-12">
    Une erreur a empeché le chargement des demandes
  </div>
</div>
</ng-container>
<ng-container *ngIf="isLoaded && demandes.length > 0">
  <div class="row" >

  <div class="col-12 mb-2" *ngFor="let demande of demandes">

    <div class="card">
      <div class="card-header">
        <div class="float-left">
          <span class="font-weight-bold mr-1">  {{demande.session.filiere.libelle}}{{demande.session.annee}}
          </span>
                 <span> {{demande.updatedAt | date:'medium'}}</span>

        </div>
        <div class="float-right">
                <button class="btn"
                        (click)="onClearRequest(demande)"
                        [ngClass]="{'btn-success':!demande.rejected,'btn-warning':demande.rejected}">{{!demande.seen ?
                  'Clear':'Cleared'}}</button>
        </div>

      </div>
      <div class="card-body">
   <span *ngIf="demande.done && demande.rejected">
     Votre demande d'attestation de {{demande.type == 'scolarite' ?
     'Scolarité' : 'Réussite'}} pour la session {{demande.session.filiere.libelle + ' ' + demande.session.annee}} a été
     <span class="text-danger">rejetée.</span>.
   </span>
        <span *ngIf="!demande.rejected">
          Votre demande d'attestation de {{demande.type == 'scolarite' ?
          'Scolarité' : 'Réussite'}} pour la session
          {{demande.session.filiere.libelle + ' ' + demande.session.annee}} est <span
          class="text-success">prete à être
          retirée</span>.
        </span>
      </div>
    </div>

  </div>
  <ng-container *ngIf="isError">
    <div class="row">

    <div class="col-12">

      <div class="card">
        <div class="card-header">
          Mes demandes Relevés
        </div>
        <div class="card-body"></div>
        Erreur lors du chargemnt
      </div>
    </div>
  </div>
  </ng-container>
</div>

</ng-container>
