<div class="container mt-4">
  <div class="card" *ngIf="!isLoaded">
    <div class="card-header">
      <h2 class="text-center">Liste de filieres</h2>
    </div>
    <div class="card-body">
      <span *ngIf="!isError">Chargement...</span>
      <span *ngIf="isError">Une erreur est rencontrée lors de chargement</span>
    </div>
  </div>
  <div class="card" *ngIf="isLoaded">
    <div class="card-header">
      <h2 class="text-center">Liste de filieres</h2>
    </div>
    <div class="card-body linear-gradient-white-grey">
      <table datatable [dtOptions]="dtOptions" class="table table-responsive-sm table-hover">
        <thead>
        <tr>
          <th>Id</th>
          <th>libelle</th>
          <th>Diplome</th>
          <th>Description</th>
          <th>semestres</th>
          <th>Date creation</th>
          <th>Date modification</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody *ngIf="filieresList.length > 0">
        <tr *ngFor="let filiere of filieresList">
          <td>{{filiere.id}}</td>
          <td>{{filiere.libelle}}</td>
          <td>{{filiere.diplome.libelle}}</td>
          <td>{{filiere.description}}</td>
          <td>{{filiere.nbr_semestres}}</td>
          <td>{{filiere.createdAt | date:'medium'}}</td>
          <td>{{filiere.updatedAt | date:'medium'}}</td>
          <td>
            <div class="btn-group">
                <button type="button" class="btn btn-danger btn-sm" (click)="onDelete(filiere)"><i
                  class="fa fa-fw fa-trash"
                                                                                              aria-hidden="true"></i></button>
                 <button type="button" class="btn btn-warning btn-sm" (click)="onEdit(filiere)"><i
                   class="fa fa-fw fa-pencil-square-o" aria-hidden="true"></i></button>
            </div>
          </td>
        </tr>
        </tbody>
        <tbody *ngIf="filieresList.length == 0">
        <tr>
          <td colspan="8" class="text-center">La liste est vide</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
