<div class="container mt-4">
  <div class="row">
    <div class="col-md-10 offset-md-1 col-12">

      <div class="card-header text-center">
        <h2>Demandes Releves</h2>
        <p *ngIf="isError">
          Une erreur s'est produit lors de chargement
        </p>
        <p *ngIf="!isError && !isLoaded">
          Chargement...
        </p>
      </div>

      <div class="card">
        <div class="card-header">
          Liste des dernieres demandes
        </div>
        <div class="card-body">
          <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-hover w-100">
            <thead>
            <tr>
              <th>Id</th>
              <th>Etudiant</th>
              <th>Date</th>
              <th>Session</th>
              <th>Filiere</th>
              <th>Semestre</th>
              <td>Etat</td>

              <th>#</th>
            </tr>
            </thead>
            <tbody *ngIf="isLoaded">
            <tr *ngFor="let demande of demandeReleves">
              <td>{{demande.id}}</td>
              <td>{{demande.semestreEtudiant.etudiant.nom + ' ' + demande.semestreEtudiant.etudiant.prenom}}</td>
              <td>{{demande.updatedAt | date:'medium'}}</td>
              <td>{{demande.semestreEtudiant.session.annee}}</td>
              <td>{{demande.semestreEtudiant.session.filiere.libelle}}</td>
              <td>{{demande.semestreEtudiant['numero']}}</td>
              <td class="font-weight-bold"
                  [ngClass]="{'text-danger':demande.deleted,'text-warning': !demande.deleted&&
                demande.rejected,'text-success':!demande.rejected && !demande.deleted}">{{ demande.deleted ? 'deleted'
                : (demande.done ? (demande.rejected ? 'Denied' : 'Resolved') : 'not Processed')}}</td>

              <td>
                <button class="btn btn-success mr-1 btn-sm" (click)="onResolve(demande)">Resolve</button>
                <button class="btn btn-warning btn-sm mr-1" (click)="onDeny(demande)">Deny</button>
                <button class="btn btn-danger btn-sm" (click)="onDelete(demande)">Delete</button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>
</div>
