<div class="container mt-4">
  <div class="card">
    <div class="card-header">
      <div class="row">

        <h3 class="col-sm-6 col-xs-12">Elements</h3>


        <div class="col-sm-6 col-xs-12 m-0">

          <form #searchElement="ngForm" id="search-form" class="float-right row ml-1"
                (ngSubmit)="onSearch(searchElement.value)">

            <input type="text" class="form-control d-inline-block col-7" name="libelle" ngModel>
            <button type="submit" class="btn btn-primary col-4 ml-1" form="search-form">Search</button>

          </form>
          <button class="btn btn-info  float-right mr-1" (click)="onAdd()">Ajouter</button>
        </div>

      </div>

    </div>
    <div class="card-body" *ngIf="elementsList.length > 0">
      <table class="table table-hover">
        <thead class="bg-light">
        <tr>
          <td>id</td>
          <td>libelle</td>
          <td>Action</td>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let  element of elementsList">
          <td>{{element.id}}</td>
          <td>{{element.libelle}}</td>
          <td>
            <div class="btn-group">

              <button class="btn btn-danger"
                      (click)="onDelete(element)"><i class="fa fa-fw fa-trash" aria-hidden="true"></i></button>
              <button class="btn btn-info" (click)="onModify(element)"><i
                class="fa fa-fw fa-pencil-square-o" aria-hidden="true"></i></button>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
      <div *ngIf="pagesArray.length>1; " class="btn-group">
        <button class="btn btn-light" (click)="onPageClick(0)">
          First</button>
        <ng-container *ngIf="currentPage >= 2">
          <button [ngClass]="{'active':currentPage == 1}" class="btn btn-light" (click)="onPageClick(currentPage-2)">{{currentPage - 1}}</button>
          <button  [ngClass]="{'active':currentPage == 1}" class="btn btn-light" (click)="onPageClick(currentPage-1)">{{currentPage}}</button>
          <button  [ngClass]="{'active':currentPage == 1}" class="btn btn-light" (click)="onPageClick(currentPage)">{{currentPage + 1}}</button>
          <button [ngClass]="{'active':currentPage == 1}" class="btn btn-light" *ngIf="currentPage+ 1 < pagesArray.length"
                  (click)="onPageClick(currentPage+1)">{{currentPage + 2}}</button>
          <button [ngClass]="{'active':currentPage == 1}"  class="btn btn-light" *ngIf="currentPage+ 2 < pagesArray.length"
                  (click)="onPageClick(currentPage+1)">{{currentPage + 3}}</button>
        </ng-container>
        <ng-container *ngIf="currentPage < 2">
          <button *ngIf="currentPage < pagesArray.length" class="btn btn-light" (click)="onPageClick(currentPage)"
                  [ngClass]="{'active':currentPage == 0}">{{currentPage+1}}</button>
           <button *ngIf="currentPage+1 < pagesArray.length" class="btn btn-light" (click)="onPageClick(currentPage+1)"
                  [ngClass]="{'active':currentPage == 1}">{{currentPage+2}}</button>
           <button *ngIf="currentPage+2 < pagesArray.length" class="btn btn-light" (click)="onPageClick(currentPage+2)"
                  [ngClass]="{'active':currentPage == 2}">{{currentPage+3}}</button>
           <button *ngIf="currentPage+3 < pagesArray.length" class="btn btn-light" (click)="onPageClick(currentPage+3)"
                  [ngClass]="{'active':currentPage == 3}">{{currentPage+4}}</button>
<!--          <button *ngFor="let p of pagesArray" class="btn btn-light">-->
<!--            <a (click)="onPageClick(p)" [ngClass]="p == currentPage ? ' disabled active':''"-->
<!--            >{{p + 1}}</a>-->
        </ng-container>
        <button class="btn btn-light"
                (click)="onPageClick(pagesArray[pagesArray.length - 1])">Last</button>
      </div>
    </div>
    <div class="card-body" *ngIf="elementsList.length == 0">
      La liste est vide.
    </div>
  </div>


</div>
<div id="element-modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #addElementForm="ngForm" id="element-form" (ngSubmit)="onSubmit(addElementForm.value)">
          <div class="form-group">
            <label>Libelle</label>
            <input type="text" name="libelle" [value]="currentElement.libelle" class="form-control" ngModel>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" form="element-form">Save</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
