<div class="container">
  <h1><span>Edit</span> Booking</h1>

  <ng-container *ngIf="isLoaded">
    <form (ngSubmit)="onSubmit()" [formGroup]="bookingForm" name="myform">
    <div>
      <label for="id">Id</label>
      <input
        type="number"
        class="form-control"
        disabled
        [(ngModel)]="index"
        formControlName="id"
      />
    </div>
    <div class="row">
      <div class="form-group col-4">
        <label for="date">Date</label>
        <input
          type="date"
          class="form-control"
          ng-required="true"
          [(ngModel)]="booking.date"
          formControlName="date"
        />
      </div>

      <div class="form-group col-4">
        <label for="startTime">Start time</label>
        <input
          type="time"
          class="form-control"
          ng-required="true"
          [(ngModel)]="booking.startTime"
          formControlName="start"
        />
      </div>

      <div class="form-group col-4">
        <label for="endTime">End time</label>
        <input
          type="time"
          class="form-control"
          ng-required="true"
          formControlName="end"
          [(ngModel)]="booking.endTime"
        />
      </div>
    </div>

    <div *ngIf="rooms" class="row">
      <div class="form-group col-5">
        <label for="room">Room</label>
        <select
          class="form-control"
          id="room"
          formControlName="roomId"
          required
          name="room"
        >
          <option *ngFor="let pow of rooms" [value]="pow.id">{{
            pow.name
          }}</option>
        </select>
      </div>
    </div>
    <div *ngIf="users" class="row">
      <div class="form-group col-5">
        <label for="user">User</label>
        <select
          class="form-control"
          id="user"
          [(ngModel)]="booking.user.id"
          formControlName="userId"
          required
          name="user"
        >
          <option *ngFor="let pow of users" [value]="pow.id"
            >{{ pow.nom | uppercase }} {{ pow.prenom }}</option
          >
        </select>
      </div>
    </div>
    <div class="form-group col-6">
      <label for="title">Reservation title</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="booking.title"
        formControlName="title"
      />
    </div>
    <!-- </div> -->

    <div class="row">
      <div class="col">
        <button
          [disabled]="!bookingForm.valid"
          type="submit"
          class="btn btn-success"
          style="float: right;"
        >
          Save
        </button>
      </div>
    </div>
  </form>
  </ng-container>
  <ng-container *ngIf="isError">
    Une erreur a empeché le chergement de données.
  </ng-container>
</div>
