<div class="p-5" style="width: 100%;max-width: 500px;margin: auto;">
  <h1 class="alert alert-info text-center">Authentification</h1>
  <div class="alert alert-danger" *ngIf="isFalseCredentials">
    Erreur d'authentification
  </div>
  <form #login="ngForm" (ngSubmit)="onSubmitLogin(login.value)">
    <div class="form-group">
      <label>Email:</label>
      <input type="text" name="username" class="form-control" (change)="isFalseCredentials = false;"
             [(ngModel)]="username" ngModel
             required>
    </div>
    <div class="form-group">
      <label>Mot de passe</label>
      <input type="password" name="password" class="form-control" (change)="isFalseCredentials = false;"
             [(ngModel)]="password" ngModel required>
    </div>

    <button class="btn btn-primary col-12" type="submit">Connextion</button>
  </form>
</div>
